<h1>Form Page</h1>
<!-- Form content goes here -->
<div class="row">
    <form class="col s12" id="resume-form">
  
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate" required>
          <label for="name">Full Name</label>
        </div>
        <div class="input-field col s6">
          <input id="title" type="text" class="validate" required>
          <label for="title">Job Title</label>
        </div>
      </div>
  
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" required>
          <label for="email">Email Address</label>
        </div>
      </div>
  
      <div class="row">
        <div class="input-field col s6">
          <input id="phone_number_1" type="tel" class="validate">
          <label for="phone_number_1">Phone Number 1 (Optional)</label>
        </div>
        <div class="input-field col s6">
          <input id="phone_number_2" type="tel" class="validate">
          <label for="phone_number_2">Phone Number 2 (Optional)</label>
        </div>
      </div>
  
      <div class="row">
        <div class="input-field col s12">
          <input id="website" type="url" class="validate">
          <label for="website">Personal Website (Optional)</label>
        </div>
      </div>
  
      <div class="row">
        <div class="input-field col s4">
          <input id="linkedin" type="url" class="validate">
          <label for="linkedin">LinkedIn Profile</label>
        </div>
        <div class="input-field col s4">
          <input id="twitter" type="url" class="validate">
          <label for="twitter">Twitter Profile</label>
        </div>
        <div class="input-field col s4">
          <input id="github" type="url" class="validate">
          <label for="github">GitHub Profile</label>
        </div>
      </div>
  
      <div class="section">
        <h5>Education</h5>
        <div id="education-fields"></div>
        <button class="btn waves-effect waves-light" type="button" id="add-education">Add Education</button>
      </div>
  
      <div class="section">
        <h5>Projects</h5>
        <div id="project-fields"></div>
        <button class="btn waves-effect waves-light" type="button" id="add-project">Add Project</button>
      </div>
  
      <div class="section">
        <h5>Awards & Certificates</h5>
        <div id="awards-fields"></div>
        <button class="btn waves-effect waves-light" type="button" id="add-award">Add Award</button>
      </div>
  
      <div class="row">
        <div class="input-field col s12">
          <textarea id="summary" class="materialize-textarea validate" required></textarea>
          <label for="summary">Summary</label>
        </div>
      </div>
  
      <div class="row">
        <div class="input-field col s12">
          <input id="resume_link" type="url" class="validate">
          <label for="resume_link">Link to Resume File (Optional)</label>
        </div>
      </div>
  
      <button class="btn waves-effect waves-light" type="submit">Submit</button>
  
    </form>
  </div>
  