<h1>Sign In</h1>
<!-- Sign In form goes here -->
<form action="/auth/github" method="GET">
  <button type="submit" class="waves-effect waves-light btn">
    Sign In with GitHub
    <i class="fab fa-github"></i>
  </button>
</form>
