<!-- Form content goes here -->
<div class="form-content container">
  <form id="profileForm">
    <h5>Get Started</h5>

    <div class="row doc-upload">
      <div class="col s6">
        <div class="profile-image">
          <label for="profile" class="upload-button dark-theme">Upload Profile Image</label>
          <input id="profile" type="file" accept="image/*" class="hidden" onchange="showImageName()">
          <p id="image-name" class="file-name"></p>
        </div>
      </div>
      <div class="col s6">
        <div class="resume-doc">
          <label for="resume" class="upload-button dark-theme">Upload Resume</label>
          <input id="resume" type="file" accept=".doc, .docx, .pdf" class="hidden" onchange="showResumeName()">
          <p id="resume-name" class="file-name"></p>
      </div>      
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <input id="name" type="text" class="validate" required>
        <label for="name">Full Name</label>
      </div>
      <div class="col s6">
        <input id="title" type="text" class="validate" required>
        <label for="title">Job Title</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <input id="about" type="text" class="validate" required>
        <label for="about">About You</label>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <input id="email" type="email" class="validate" required>
        <label for="email">Email</label>
      </div>
      <div class="col s6">
        <input id="phone" type="tel" class="validate">
        <label for="phone">Contact Number</label>
      </div>
    </div>

    <div class="row profiles-entry">
      <p>Profiles</p>
      <div class="col s3">
        <input id="github-url" type="url" class="validate">
        <label for="github-url"> <i class="fa-brands fa-github"></i> GitHub</label>
      </div>
      <div class="col s3">
        <input id="linkedin-url" type="url" class="validate">
        <label for="linkedin-url"> <i class="fa-brands fa-linkedin"></i> LinkedIn</label>
      </div>
      <div class="col s3">
        <input id="website-url" type="url" class="validate">
        <label for="website-url"> <i class="fa-solid fa-blog"></i> Website</label>
      </div>
    </div>

    <div class="row">
      <p>Education</p>
      <div class="education-entry">
        <div class="education-form">
          <div class="col s6">
            <input class="institution" type="text" required>
            <label for="institution">Institution</label>
          </div>
          <div class="col s6">
            <input class="year" type="text" required>
            <label for="year">Year</label>
          </div>
          <div class="col s6">
            <input class="degree" type="text" required>
            <label for="degree">Degree</label>
          </div>
          <div class="col s6">
            <input class="grade" type="text" required>
            <label for="grade">Grade</label>
          </div>
        </div>
      </div>
      <button id="add-education" onclick="addEducation()" class="btn" type="button"><i class="fa-solid fa-plus"></i> Add
        Education</button>
    </div>

    <div class="row">
      <p>Experience</p>
      <div class="experience-entry">
        <div class="experience-form">
          <div class="col s6">
            <input class="employer" type="text">
            <label for="employer">Employer</label>
          </div>
          <div class="col s6">
            <input class="year" type="text">
            <label for="year">Year</label>
          </div>
          <div class="col s6">
            <input class="position" type="text">
            <label for="position">Position</label>
          </div>
          <div class="col s6">
            <input class="description" type="text">
            <label for="description">Description</label>
          </div>
        </div>
      </div>
      <button id="add-experience" onclick="addExperience()" class="btn" type="button"><i class="fa-solid fa-plus"></i>
        Add Experience</button>
    </div>

    <div class="row">
      <p>Skills</p>
      <input id="skillsInput" type="text" list="skillOptions" placeholder="Start typing to select a skill">
      <datalist id="skillOptions"></datalist>
      <div class="selected-skills"></div>
    </div>

    <div class="row">
      <p>Projects</p>
      <div class="projects-entry">
        <div class="projects-form">
          <div class="col s6">
            <input class="project-name" type="text" required>
            <label for="project-name">Project Name</label>
          </div>
          <div class="col s6">
            <input class="project-tech" type="text" required>
            <label for="project-tech">Technologies Used</label>
          </div>
          <div class="col s12">
            <input class="project-description" type="text" required>
            <label for="project-description">Description</label>
          </div>
        </div>
      </div>
      <button id="add-project" onclick="addProject()" class="btn" type="button"><i class="fa-solid fa-plus"></i> Add
        Project</button>
    </div>
    <button class="btn waves-effect waves-light" type='submit'>Submit<i
        class="material-icons right">send</i></button>
  </form>
</div>