<div class="home">
        <section class="layout">
            <div class="text">
                <h1>
                    Beautifully simple portfolio websites
                </h1>
                <p>
                    Let your work shine. Create a portfolio website in minutes with our easy-to-use platform.
                </p>
                <button class="get-started-btn" onclick="location.href='/get-started'">
                    <span class="transition"></span>
                    <span class="gradient"></span>
                    <span class="label">Get Started</span>
                  </button>          
            </div>
            <div class="illustration floating"><img src="/assets/images/Website Creator-cuate.svg" alt="illustration"></div>
        </section>
</div>
