body  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.header{
    background-color: #07090f;
}

#close-sidebar {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#signin-link{
    margin: 1rem;
    background-color: #a37c40;
}
#signin-link-mobile{
    margin: 1rem;
    background-color: #a37c40;
}

.logo img {
    margin: 1rem;
    max-width: 2rem;
    height: auto;
}

.logo a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.logo a:hover {
    background-color: transparent;
}

#profile-link a i {
    font-size: 2.2rem;
}
